force-app/main/default/flows/OMS_Collection_Ledger_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/metadata">
    <apiVersion>59.0</apiVersion>
    <label>OMS - Collection Ledger Entry</label>
    <description>Record-triggered flow that creates a ledger credit entry and updates invoice balance when a collection is created</description>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <interviewLabel>Collection Ledger Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Collection__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Create_Ledger_Entry</targetReference>
        </connector>
    </start>
    <recordCreates>
        <name>Create_Ledger_Entry</name>
        <label>Create Ledger Credit Entry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Related_Invoice</targetReference>
        </connector>
        <object>Ledger_Entry__c</object>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Type__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Mode__c</field>
            <value>
                <elementReference>$Record.Payment_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>$Record.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Invoice</name>
        <label>Get Related Invoice</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Has_Invoice</targetReference>
        </connector>
        <object>Invoice__c</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Has_Invoice</name>
        <label>Invoice Found?</label>
        <locationX>176</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>No Invoice</defaultConnectorLabel>
        <rules>
            <name>Invoice_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Balance</targetReference>
            </connector>
            <label>Invoice Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewBalanceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Related_Invoice.Balance_Due__c} - {!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <recordUpdates>
        <name>Update_Invoice_Balance</name>
        <label>Update Invoice Balance Due</label>
        <locationX>50</locationX>
        <locationY>560</locationY>
        <inputReference>Get_Related_Invoice</inputReference>
        <inputAssignments>
            <field>Balance_Due__c</field>
            <value>
                <elementReference>NewBalanceFormula</elementReference>
            </value>
        </inputAssignments>
    </recordUpdates>
</Flow>
