force-app/main/default/flows/OVE_Visit_Completion_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Collection_Values</name>
        <label>Add Collection Values</label>
        <locationX>50</locationX>
        <locationY>986</locationY>
        <assignmentItems>
            <assignToReference>TotalCollectionAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Collections.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Order_Values</name>
        <label>Add Order Values</label>
        <locationX>50</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>TotalOrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Orders.Total_Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Summary</name>
        <label>Calculate Summary Values</label>
        <locationX>176</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>TotalOrderValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCollectionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Day_Attendance</name>
        <label>Day Attendance Found?</label>
        <locationX>176</locationX>
        <locationY>1270</locationY>
        <defaultConnectorLabel>No Attendance Record</defaultConnectorLabel>
        <rules>
            <name>Attendance_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Day_Attendance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Day_Attendance</targetReference>
            </connector>
            <label>Attendance Found</label>
        </rules>
    </decisions>
    <description>Record-triggered flow that updates day attendance summary fields when a visit is completed</description>
    <interviewLabel>Visit Completion Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OVE - Visit Completion Summary</label>
    <loops>
        <name>Loop_Collections</name>
        <label>Loop Through Collections</label>
        <locationX>176</locationX>
        <locationY>844</locationY>
        <collectionReference>RelatedCollections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Collection_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Day_Attendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Orders</name>
        <label>Loop Through Orders</label>
        <locationX>176</locationX>
        <locationY>560</locationY>
        <collectionReference>RelatedOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Order_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Collections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Day_Attendance</name>
        <label>Get Day Attendance Record</label>
        <locationX>176</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Day_Attendance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attendance_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Day_Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Collections</name>
        <label>Get Related Collections</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Collection__c</object>
        <outputReference>RelatedCollections</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Orders</name>
        <label>Get Related Orders</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <outputReference>RelatedOrders</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>Update_Day_Attendance</name>
        <label>Update Day Attendance Summary</label>
        <locationX>50</locationX>
        <locationY>1412</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Day_Attendance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Collection__c</field>
            <value>
                <elementReference>TotalCollectionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Order_Value__c</field>
            <value>
                <elementReference>TotalOrderValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Orders__c</field>
            <value>
                <elementReference>OrderCount</elementReference>
            </value>
        </inputAssignments>
        <object>Day_Attendance__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Visit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RelatedCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collection__c</objectType>
    </variables>
    <variables>
        <name>RelatedOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>TotalCollectionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalOrderValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
