force-app/main/default/flows/OVE_NewOutlet_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/metadata">
    <apiVersion>59.0</apiVersion>
    <label>OVE - New Outlet Onboarding</label>
    <description>Screen flow for field reps to register new retail outlets during visits</description>
    <processType>Flow</processType>
    <status>Active</status>
    <interviewLabel>New Outlet Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <choices>
        <name>GroceryChoice</name>
        <choiceText>Grocery</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Grocery</stringValue></value>
    </choices>
    <choices>
        <name>MedicalChoice</name>
        <choiceText>Medical/Pharmacy</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Medical</stringValue></value>
    </choices>
    <choices>
        <name>HardwareChoice</name>
        <choiceText>Hardware</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Hardware</stringValue></value>
    </choices>
    <choices>
        <name>GeneralStoreChoice</name>
        <choiceText>General Store</choiceText>
        <dataType>String</dataType>
        <value><stringValue>General Store</stringValue></value>
    </choices>
    <choices>
        <name>ClassAChoice</name>
        <choiceText>Class A (Premium)</choiceText>
        <dataType>String</dataType>
        <value><stringValue>A</stringValue></value>
    </choices>
    <choices>
        <name>ClassBChoice</name>
        <choiceText>Class B (Standard)</choiceText>
        <dataType>String</dataType>
        <value><stringValue>B</stringValue></value>
    </choices>
    <choices>
        <name>ClassCChoice</name>
        <choiceText>Class C (Economy)</choiceText>
        <dataType>String</dataType>
        <value><stringValue>C</stringValue></value>
    </choices>
    <choices>
        <name>ClassDChoice</name>
        <choiceText>Class D (Small)</choiceText>
        <dataType>String</dataType>
        <value><stringValue>D</stringValue></value>
    </choices>
    <choices>
        <name>GTChoice</name>
        <choiceText>General Trade (GT)</choiceText>
        <dataType>String</dataType>
        <value><stringValue>GT</stringValue></value>
    </choices>
    <choices>
        <name>MTChoice</name>
        <choiceText>Modern Trade (MT)</choiceText>
        <dataType>String</dataType>
        <value><stringValue>MT</stringValue></value>
    </choices>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Outlet Account</label>
        <locationX>176</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <object>Account</object>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OutletName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Pincode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Outlet_Basic_Info</name>
        <label>Outlet Basic Information</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outlet_Classification</targetReference>
        </connector>
        <fields>
            <name>OutletName</name>
            <fieldText>Outlet Name</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>OwnerName</name>
            <fieldText>Owner/Proprietor Name</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>Phone</name>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>Email</name>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>false</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Street Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>City</name>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>State</name>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>Pincode</name>
            <fieldText>Pincode</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_Classification</name>
        <label>Outlet Classification</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outlet_KYC</targetReference>
        </connector>
        <fields>
            <name>OutletType</name>
            <fieldText>Outlet Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <choiceReferences>GroceryChoice</choiceReferences>
            <choiceReferences>MedicalChoice</choiceReferences>
            <choiceReferences>HardwareChoice</choiceReferences>
            <choiceReferences>GeneralStoreChoice</choiceReferences>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>OutletClass</name>
            <fieldText>Outlet Class</fieldText>
            <fieldType>RadioButtons</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <choiceReferences>ClassAChoice</choiceReferences>
            <choiceReferences>ClassBChoice</choiceReferences>
            <choiceReferences>ClassCChoice</choiceReferences>
            <choiceReferences>ClassDChoice</choiceReferences>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>Channel</name>
            <fieldText>Channel</fieldText>
            <fieldType>RadioButtons</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <choiceReferences>GTChoice</choiceReferences>
            <choiceReferences>MTChoice</choiceReferences>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outlet_KYC</name>
        <label>KYC Information</label>
        <locationX>176</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>GSTIN</name>
            <fieldText>GSTIN (if available)</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>false</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <fields>
            <name>PAN</name>
            <fieldText>PAN Number</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>false</isRequired>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Registration Complete</label>
        <locationX>176</locationX>
        <locationY>702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>Outlet has been successfully registered! The new outlet will be available after approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outlet_Basic_Info</targetReference>
        </connector>
    </start>
</Flow>
